DB_HOST=localhost
DB_PORT=3306
DB_NAME=crud_tienda
DB_USER=root
DB_PASSWORD=

APP_API_KEY=change-me-local
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000
APP_CORS_ALLOWED_ORIGIN_PATTERNS=https://*.up.railway.app

JWT_SECRET=change-me-local
JWT_EXPIRATION=86400000
RESEND_API_KEY=
RESEND_FROM_EMAIL=Luminar <noreply@mertmadeit.xyz>
